<!DOCTYPE html>
<html lang="en">
  <%- include("./head.ejs") %>
  <body style="background-color: teal;color: coral">
    <h1>Entry Page</h1>
    <p>Name: <%= entry.name %> </p>
    <br />
    <p>Date: <%= entry.date %> </p>
    <br />
    <p>From: <%= entry.from %> </p>
    <br />
    <p>Amount: <%= entry.amount %> </p>
    <br />
    <p>Tags: <%= entry.tags %> </p>
    <br />
    <a href="/budgets">Return</a>
  </body>
</html>
